.SongCard {
    display: flex;
    padding: 10px;
    background: black;
    border-radius: 8px;
}

.SongCard:not(:last-child) {
    margin-bottom: 10px;
}

.SongCard:hover {
    background: blue;
}

.SongListContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 50px;
}